{% extends 'base.html' %}
{% load humanize %}
{% block page_title %}
    Tagebuch
{% endblock page_title %}
{% block content %}
    {% for date, day in days %}
        <h3>{{ date | naturalday }}</h3>
        <table class="table table-striped">
            <tbody>
            {% for serving in day.servings %}
                <tr>
                    <td style="width: 60%">
                        <a href="{% url 'food_type' id=serving.food_type.id %}">
                            {{ serving.food_type.name }}</a>
                    </td>
                    <td style="width: 20%">{{ serving.points }}</td>
                    <td style="width: 20%">
                        <button class="btn btn-warning btn-sm delete-serving"
                                id="{{ serving.id }}">Löschen
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><b>Summe: </b></td>
                <td>{{ day.sum }}</td>
                <td></td>
            </tr>
        </table>
    {% endfor %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            /* Start generated JavaScript */
            {% for date, day in days %}
                {% for serving in day.servings %}
                    $('button.delete-serving#{{ serving.id }}').
                            click(function () {
                                delete_serving('{% url 'serving' serving.id %}', '{{ serving.id }}')
                            });
                {% endfor %}
            {% endfor %}
            /* End generated JavaScript */
        });
    </script>
{% endblock scripts %}
