{% extends 'base.html' %}
{% block page_title %}
    Nahrungsmittel
{% endblock page_title %}
{% block content %}
    <ul id="items" class="list-group">
        <input type="text" id="search" class="input-large search-query" style="width: 100%; margin-bottom: 5px">
        {% for ft in fts %}
            <div class="row food-row-div">
                <div class="col-xs-7">
                    <a href="{% url 'food_type' id=ft.id %}"
                       class="item_name">{{ ft.name }}</a>
                    <br>
                    <span>{{ ft.serving_description }}</span>
                </div>
                <div class="col-xs-5">
                    <form role="form" action="{% url 'food_type' ft.id%}" id="add_serving"
                          method="post"
                          class="form-inline">
                        {% csrf_token %}
                        <div class="form-group" style="display:none">
                            {{ form.quantity }}
                        </div>
                        <div class="form-group" style="display:none">
                            {{ form.date }}
                        </div>
                            {{ form.next }}
                        <button type="submit" class="btn btn-primary btn-block">+1</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var $search = $('#search');

            $search.focus();

            $search.on("keyup", function () {
                var search_term = $(this).val().toLowerCase();

                $('div.row').each(function (index) {

                    var $row = $(this);
                    var row_text_content = $row.find(".item_name").text().toLowerCase();

                    if (row_text_content.indexOf(search_term) == -1) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                });
            });
        });
    </script>
{% endblock scripts %}
