{% extends 'base.html' %}
{% block page_title %}
    Login
{% endblock page_title %}
{% block content %}
    <p>Bitte logg Dich ein.</p>
    <form role="form" action="{% url 'django.contrib.auth.views.login' %}?next={% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div><label>Benutzername</label></div>
            {{ form.username }}
        </div>
        <div class="form-group">
            <div><label>Passwort</label></div>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Einloggen</button>
    </form>
{% endblock content %}

