{% extends 'base.html' %}
{% block content %}
    <form role="form" action="{% url 'edit_ft_serving' ft.id %}" id="serving_edit"
          method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form.description.label }}</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label>{{ form.quantity.label }}</label>
            {{ form.quantity }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Speichern</button>
    </form>
{% endblock content %}
